[Unit]
Description=Redis Sentinel
Documentation=https://redis.io/documentation
Wants=network-online.target
After=network-online.target


[Service]
Type=forking
User=redis
Group=redis
ExecStart=/usr/local/bin/redis-sentinel /etc/redis/sentinel.conf --sentinel
Restart=always

UMask=0077
PrivateTmp=yes
LimitNOFILE=infinity
NoNewPrivileges=yes
PrivateDevices=yes
ProtectHome=yes
ProtectSystem=true
RuntimeDirectory=redis
RuntimeDirectoryMode=2755
CapabilityBoundingSet=CAP_SETGID CAP_SETUID CAP_SYS_RESOURCE
RestrictAddressFamilies=AF_INET AF_INET6 AF_UNIX


[Install]
WantedBy=multi-user.target
